
.header{
    height:40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    h2{ 
        font-weight: bold;
        margin-bottom:15px;
        font-size: 3.75rem;
        line-height: 1.2;
        letter-spacing:-0.0083em
    }

    h6{
        color:darkgrey;
        text-transform:capitalize;
        font-size: 0.8em;
        font-weight: 500;
        line-height: 1.57em;
        letter-spacing: 0.0071em;
    }
}

.banner {
    background-image: url(../../assets/cr.jpg);
    height:400px;
    width:100%;
}

.sub-header{
    height: 50%;
    display:flex;
    align-items: center;
}

.card{
    border: 0;
    background: transparent;
    color: #fff;
    padding: 20px;
    margin: 50px;
    width: 100px;
    height: 200px;

    img{
        width: 70px;
        margin: 0 auto;
    }

    h5{
        font-weight: 500;
    }
    p{
        font-weight: 700;
    }
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  